---
import Studie from "./Studie.astro";

const studies = await fetch("http://localhost:3001/studies").then(res => res.json());

---
<section>
  {studies.map((study: any) => (
    <Studie study={study} />
  ))}
</section>

<style>
    section {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
    }
</style>