# build output
dist/
build/
db
db/
sea-prep.blob
# generated types
.astro/

# dependencies
node_modules/

.github/

vscode
idx
studies.db
.db-shm
.db-wal

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.db

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

vercel.json
.vercel
