---
import Layout from "@/layouts/layout.astro";
import StudiesList from "@/components/Studies/StudiesList";
import { obtenerEstudios, getTotalEstudios } from "@/libs/orthanc"
import { STUDIES_PAGE_LIMIT } from "@/config/pagination";
import type { Study } from "@/types";


const studies = await obtenerEstudios(STUDIES_PAGE_LIMIT, 0) as Study[];
const totalStudies = await getTotalEstudios();
---

<Layout title="Orthanc Explorer">
	<main>
		<StudiesList
			client:load
			total={totalStudies}
			studies={studies}
			currentPage={1}
		/>
	</main>
</Layout>
